body {
    background: #f0f4f8;
    min-height: 100vh;
    position: relative;
}
/*  
.bg-img {
    background: url("bg-blueprint.jpg") center/cover no-repeat;
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    opacity: 0.3;
}
 */
.form-box {
    max-width: 440px;
    background: white;
    padding: 40px 35px;
    border-radius: 20px;
    margin: 60px auto;
    box-shadow: 0px 5px 18px rgba(0,0,0,0.15);
    position: relative;
    z-index: 5;
}
.back-text {
    font-size: 15px;
    margin-bottom: 20px;
    display: inline-block;
}

.logo-circle {
    width: 85px;
    height: 85px;
    background: #e9f2ff;
    border-radius: 50%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
}

.logo-circle img {
    width: 45px;
}

label {
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 6px;
}
/*  
.input-group-text {
    background: #f8f9fc;
}
*/
.btn-primary {
    background: #0d6efd;
    padding: 10px;
    border-radius: 8px;
    font-size: 17px;
    color: #fff;
    text-decoration: none;
}
